body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.contain{
    box-shadow: 5px 5px 5px grey;
    width: 900px;
}
header,.container,footer {
    width: 900px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 5px 5px 5px grey ;
}

header {
    color: #333;
    padding: 20px;
    border: 2px solid red;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    width: 943px;
    height: 500px;
}

.left-col,.right-col {
    flex-basis: 25%;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid red;
}

.left-col {
    background-color: white;
}

.main-panel {
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid red;
}

.main-panel-footer {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    border: 2px solid red;
    text-align: center;
    margin-left: -21px;
    margin-right: -21px;
    margin-top: 350px;
    margin-bottom: -20px;
}

.right-col {
    background-color: white;
}

footer {
    color: #333;
    text-align: center;
    padding: 20px;
    border: 2px solid red;
}
