@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}

#m1 ul {
	background: black;
	width: 150px;
	padding: 0px;
	list-style-type: none;
}
#m1 ul li {
	position: relative;
	width: auto;
	height: 50px;
	line-height: 50px;
	border-bottom: 3px solid white;
	padding: 0px 10px;
}
#m1 ul li a {
	color: white;
	text-decoration: none;
}
#m1 ul li a:hover {
	background-color: #454545;
}
#m1 .m2 {
	position: absolute;
	width: 150px;
	left: 150px;
	background: #808080;
	top: 0;
	display: none;		
}
#m1 li:hover .m2 {
	display: block;
}
#m1 .m2 li .m3 {
	width: 150px;
	left: 150px;
	background: #808080;
	position: absolute;
	top: 0;
	display: none;
}

#m1 .m2 li:hover .m3 {
	display: block;
}


